In [14]:
import pandas as pd

In [15]:
fields = ['Major','Minor','NbrLivingUnits','SqFtTotLiving','SqFt1stFloor','SqFtGarageAttached']

df_bld = pd.read_csv('csv_files/raw/EXTR_ResBldg.csv',usecols=fields)

In [16]:
df_bld['id'] = df_bld.Major.astype(str)+df_bld.Minor.astype(str)
df_bld

,Major,Minor,NbrLivingUnits,SqFt1stFloor,SqFtTotLiving,SqFtGarageAttached,id
0,180,10,1,1420,2560,270,18010
1,180,143,1,1300,2530,410,180143
2,180,154,1,1390,2190,0,180154
3,280,17,1,1140,1140,0,28017
4,280,25,1,620,620,0,28025
...,...,...,...,...,...,...,...
514573,79800,145,1,650,1300,580,79800145
514574,79800,262,1,1120,1120,0,79800262
514575,79800,271,1,1010,1010,0,79800271
514576,79800,286,1,1790,2290,0,79800286
514577,79800,530,1,960,1460,0,79800530

In [17]:
del df_bld['Major']
del df_bld['Minor']

In [18]:
df_bld.to_csv(r'csv_files/filtered/bld.csv')